<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="duke" class="com.github.springinaction3.ch02.springidol.Juggler">
    <constructor-arg value="15" />
  </bean>

  <bean id="sonnet29" class="com.github.springinaction3.ch02.springidol.Sonnet29" />

  <bean id="poeticDuke" class="com.github.springinaction3.ch02.springidol.PoeticJuggler">
    <constructor-arg value="15" />
    <constructor-arg ref="sonnet29" />
  </bean>

  <bean id="theStage" class="com.github.springinaction3.ch02.springidol.Stage" factory-method="getInstance" />

  <bean id="ticket" class="com.github.springinaction3.ch02.springidol.Ticket" scope="prototype" />
</beans>
